In [ ]:
#Q1 How do you comment code in Python? What are the different types of comments?

'''we will do comment using # and """
there are two type of comment single line comment and multy line comment.'''

#we are using # for single line comment-
#this is single line comment'''

#and we do multyline comment using """
"""this is multyline comment"""

In [3]:
#Q2 What are variables in Python? How do you declare and assign values to variables?
#variables are a symbolic name that is a reference or pointer to an object. = is used for assign any data.
'''exp -''' 
a=10    #here we assign 10 to a.
b=20    #here we assign 20 to b.
c=30    #here we assign 30 to c.

In [10]:
#3How do you convert one data type to another in Python?
#when we convert one data to anathar data type we use -

y = int(2.8) # now y will be 2 is a int type data
x = float(5) # now x will be 2.0 ii=t's a float data type

In [11]:
type(y)

int

In [12]:
type(x)

float

In [ ]:
#Q4 How do you write and execute a Python script from the command line?

#to Create a new Python file in called “hello.py” by typing “vim hello.py” in the terminal/to Run your script by typing python hello.py in the Terminal.

In [22]:
#Q5 Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

my_list=[1,2,3,4,5]

In [23]:
print(my_list[1:3])

[2, 3]

In [36]:
#Q6 What is a complex number in mathematics, and how is it represented in Python?
 
'''Complex numbers are the numbers that are expressed in the form of a+ib where, a,b are real numbers and 'i' is an imaginary number '''

"""in python cpmplex number represented using complex () function. """

'''exp''' 
w = complex(1+1j)

In [37]:
w

(1+1j)

In [38]:
type(w)

complex

In [40]:
#Q7 What is the correct way to declare a variable named age and assign the value 25 to it

age = 25

In [41]:
age

25

In [46]:
#Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

price =9.99
type(price)

float

In [45]:
#its a float data type

In [49]:
#Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

name = "sabyasachi mishra"

In [50]:
print(name)

sabyasachi mishra

In [52]:
#Q10. Given the string "Hello, World!", extract the substring "World".

E = "HELLO,WORLD"

In [54]:
E[:-6]

'HELLO'

In [1]:
#Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [ ]:
is_student = True #currently i'm a student