[Q1.] What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use?

[Ans]
MongoDB is a non-relational document database that provides support for JSON-like storage. The MongoDB database has a flexible data model that enables you to store unstructured data, and it provides full indexing support, and replication with rich and intuitive APIs.

NON REALTIONAL DATABASE :- A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Non-relational databases are often used when large quantities of complex and diverse data need to be organized.

[Q2.] State and Explain the features of MongoDB.

[Ans]
In MongoDB, you can search by field, range query and it also supports regular expression searches. 
You can index any field in a document. MongoDB supports Master Slave replication. MongoDB can run over multiple servers.

In [21]:
data = {"NAME" : "sabyasachi",
       "COURSE_NAME" : "DATA SCIENCE",
       "COURSE_PRICE" : 3500,
       "MAIL_ID" : "sabyasachimishra2000@gmsil.com"}

data2=[
    {"NAME" : "akash",
       "COURSE_NAME" : "DATA SCIENCE",
       "COURSE_PRICE" : 4500,
       "MAIL_ID" : "sabyasachimishra2000@gmsil.com"},
    
{"NAME" : "suvho",
       "COURSE_NAME" : "DATA SCIENCE",
       "COURSE_PRICE" : 5500,
       "MAIL_ID" : "sabyasachimishra2000@gmsil.com"},
    
{"NAME" : "priyo",
       "COURSE_NAME" : "DATA SCIENCE",
       "COURSE_PRICE" : 6500,
       "MAIL_ID" : "sabyasachimishra2000@gmsil.com"},
    
{"NAME" : "tapas",
       "COURSE_NAME" : "DATA SCIENCE",
       "COURSE_PRICE" : 7500,
       "MAIL_ID" : "sabyasachimishra2000@gmsil.com"}
   
]

In [2]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\sabyasachi\anaconda3\envs\python37\lib\site-packages (4.4.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\sabyasachi\anaconda3\envs\python37\lib\site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
#[Q3.] Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

from pymongo.mongo_client import MongoClient

client = MongoClient("mongodb+srv://sabyasachi:sabyasachi@cluster0.bgibqcm.mongodb.net/?retryWrites=true&w=majority")
dc = client.test

dc = client ['assigment']
coll= dc['test_data']

In [23]:
#Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

dc = client ['assigment']
coll= dc['test_data']
coll.insert_one(data)
coll.insert_many(data2)

In [18]:
coll.find_one({"NAME":"suvho"})

{'_id': ObjectId('64cd298b57c88867ca64d13c'),
 'NAME': 'suvho',
 'COURSE_NAME': 'DATA SCIENCE',
 'COURSE_PRICE': 3500,
 'MAIL_ID': 'sabyasachimishra2000@gmsil.com'}

In [20]:
for i in coll.find({"COURSE_NAME":"DATA SCIENCE"}):
    print(i)

{'_id': ObjectId('64cd298957c88867ca64d13a'), 'NAME': 'sabyasachi', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 3500, 'MAIL_ID': 'sabyasachimishra2000@gmsil.com'}
{'_id': ObjectId('64cd298b57c88867ca64d13b'), 'NAME': 'akash', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 3500, 'MAIL_ID': 'sabyasachimishra2000@gmsil.com'}
{'_id': ObjectId('64cd298b57c88867ca64d13c'), 'NAME': 'suvho', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 3500, 'MAIL_ID': 'sabyasachimishra2000@gmsil.com'}
{'_id': ObjectId('64cd298b57c88867ca64d13d'), 'NAME': 'priyo', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 3500, 'MAIL_ID': 'sabyasachimishra2000@gmsil.com'}
{'_id': ObjectId('64cd298b57c88867ca64d13e'), 'NAME': 'tapas', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 3500, 'MAIL_ID': 'sabyasachimishra2000@gmsil.com'}

In [ ]:
#Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

for i in coll.find({"COURSE_NAME":"DATA SCIENCE"}):
    print(i)

In [30]:
#Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

"The sort() method sorts the elements of an array in place and returns the reference to the same array, now sorted."

for i in coll.find().sort("COURSE_PRICE",1):
    print(i)

{'_id': ObjectId('64cd298957c88867ca64d13a'), 'NAME': 'sabyasachi', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 3500, 'MAIL_ID': 'sabyasachimishra2000@gmsil.com'}
{'_id': ObjectId('64cd298b57c88867ca64d13b'), 'NAME': 'akash', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 3500, 'MAIL_ID': 'sabyasachimishra2000@gmsil.com'}
{'_id': ObjectId('64cd298b57c88867ca64d13c'), 'NAME': 'suvho', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 3500, 'MAIL_ID': 'sabyasachimishra2000@gmsil.com'}
{'_id': ObjectId('64cd298b57c88867ca64d13d'), 'NAME': 'priyo', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 3500, 'MAIL_ID': 'sabyasachimishra2000@gmsil.com'}
{'_id': ObjectId('64cd298b57c88867ca64d13e'), 'NAME': 'tapas', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 3500, 'MAIL_ID': 'sabyasachimishra2000@gmsil.com'}
{'_id': ObjectId('64cd2c6157c88867ca64d140'), 'NAME': 'sabyasachi', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 3500, 'MAIL_ID': 'sabyasachimishra2000@gmsil.com'}
{'_id': ObjectId('64cd2c6357c88867ca64d141'), 'NAME': 'akash', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 4500, 'MAIL_ID': 'sabyasachimishra2000@gmsil.com'}
{'_id': ObjectId('64cd2c6357c88867ca64d142'), 'NAME': 'suvho', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 5500, 'MAIL_ID': 'sabyasachimishra2000@gmsil.com'}
{'_id': ObjectId('64cd2c6357c88867ca64d143'), 'NAME': 'priyo', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 6500, 'MAIL_ID': 'sabyasachimishra2000@gmsil.com'}
{'_id': ObjectId('64cd2c6357c88867ca64d144'), 'NAME': 'tapas', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 7500, 'MAIL_ID': 'sabyasachimishra2000@gmsil.com'}

In [32]:
#Q7. Explain why delete_one(), delete_many(), and drop() is used.

"""delete_one():-
      The delete_one() method is used to only one document from the MongoDB. 
      The first parameter of delete_one() method is query object that define 
      which document you want to delete.
delete_many():-
      The delete_many() method is used to delete more than one documents from MongoDB database.
drop():-
      method and drop command create an invalidate Event for any Change Streams opened on dropped collection.
      Starting in MongoDB 4.4, the db. collection. drop() method and drop command abort any in-progress index 
      builds on the target collection before dropping the collection."""

'delete_one():-\n      The delete_one() method is used to only one document from the MongoDB. \n      The first parameter of delete_one() method is query object that define \n      which document you want to delete.\ndelete_many():-\n      The delete_many() method is used to delete more than one documents from MongoDB database.\ndrop():-\n      method and drop command create an invalidate Event for any Change Streams opened on dropped collection.\n      Starting in MongoDB 4.4, the db. collection. drop() method and drop command abort any in-progress index \n      builds on the target collection before dropping the collection.'