In [1]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

#A database is an organized collection of structured information, or data, typically stored electronically in a computer system. 

#on sql we only store data in a structured way, buy on nosql we store structured data as well as non structured data.

In [2]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#DDL stands for Data Definition Language. It is a set of SQL commands used to define and manage the structure of a database.

# CREATE command is used to create new database objects such as tables, views, indexes, or stored procedures.

""""CREATE TABLE Customers (
       ID INT PRIMARY KEY,
       Name VARCHAR(50),
       Email VARCHAR(100)
   );"""

#The DROP command is used to remove an existing database object such as a table, view, index, or stored procedure. 

 "  DROP TABLE Customers;"

    
#   The ALTER command is used to modify the structure of an existing database object. It can be used to add, modify, or delete columns in a table, change the data type of a column, or add constraints. 

"""  ALTER TABLE Customers
   ADD Phone VARCHAR(20);
    """
    
# The TRUNCATE command is used to remove all data from a table, but it keeps the structure intact

"  TRUNCATE TABLE Customers; "

In [8]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#DML is an abbreviation for Data Manipulation Language. Represents a collection of programming languages explicitly used to make changes to the database, 

#INSERT − Insert data into a table.
#exp:- Insert into <table_name> (column list) values (column values);


#UPDATE − Update existing data within a table.
#exp:- UPDATE <table_name> SET column_number =value_number WHERE condition;


#DELETE − Delete records from a database table.
#exp:- Delete from <table_name>WHERE condition;

In [9]:
#Q4. What is DQL? Explain SELECT with an example

#dql is a data query language,use for query any data in table.
#select:- Select command is used to retrieve data from the database.
#exp:-select * from <table_name>;

In [5]:
#Q5. Explain Primary Key and Foreign Key.

"A primary key is a unique identifier for a record in a database table. It is a column or a combination of columns that uniquely identifies each row in the table. "
"A foreign key is a column or a combination of columns in a database table that refers to the primary key of another table. It establishes a relationship between two tables, "

In [15]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#import mysql.connector

# Connect to MySQL
"""mydb = mysql.connector.connect(
      host="localhost",
      user="yourusername",
      password="yourpassword",
      database="yourdatabase"
)"""

# Create a cursor object
#cursor = mydb.cursor()

"""The cursor() method is used to create a cursor object,
which allows you to interact with the database.
The cursor is used to execute SQL queries and fetch the results. 
It acts as a pointer or handle to the result set of a query.
"""
#to Create a cursor object
#cursor = mydb.cursor()

"""The execute() method is used to execute SQL queries using the cursor.
It takes the SQL query as a parameter and executes it on the connected database."""

# Execute SQL queries
#cursor.execute("SELECT * FROM yourtable")
#result = cursor.fetchall()

'The execute() method is used to execute SQL queries using the cursor.\nIt takes the SQL query as a parameter and executes it on the connected database.'

In [18]:
#Q7. Give the order of execution of SQL clauses in an SQL query
"""
1. FROM clause: This clause specifies the table or tables from which the data will be retrieved.

2. WHERE clause: This clause is used to filter the data based on specified conditions.

3. GROUP BY clause: This clause is used to group the data based on specified columns.

4. HAVING clause: This clause is used to filter the grouped data based on specified conditions.

5. SELECT clause: This clause is used to select the columns that will be included in the result set.

6. ORDER BY clause: This clause is used to sort the result set based on specified columns.

7. LIMIT clause: This clause is used to limit the number of rows returned by the query.
"""
  
#Note that not all clauses are required in every SQL query

'\n1. FROM clause: This clause specifies the table or tables from which the data will be retrieved.\n\n2. WHERE clause: This clause is used to filter the data based on specified conditions.\n\n3. GROUP BY clause: This clause is used to group the data based on specified columns.\n\n4. HAVING clause: This clause is used to filter the grouped data based on specified conditions.\n\n5. SELECT clause: This clause is used to select the columns that will be included in the result set.\n\n6. ORDER BY clause: This clause is used to sort the result set based on specified columns.\n\n7. LIMIT clause: This clause is used to limit the number of rows returned by the query.\n'