Q1. List any five functions of the pandas library with execution.

import pandas as pd

# Reading a CSV file
data = pd.read_csv('data.csv')

# Writing to an Excel file
data.to_excel('output.xlsx')

# Renaming columns
data = data.rename(columns={'age': 'Age', 'salary': 'Salary'})

# Filtering data
data_filtered = data[data['age'] > 30]

# Sorting data
data_sorted = data.sort_values(by='salary', ascending=False)

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [132]:
import pandas as pd
data={"values":[10,20,30,40,50]}
df=pd.DataFrame(data)
def sum_of_3_data(df):
    v=df["values"][:2]
    total_sum=sum(v)
    print(f"the sum of first 3 data is :{total_sum}")

sum_of_3_data(df)

the sum of first 3 data is :30

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [133]:
df = pd.DataFrame({"text" : ["Data Science" ,"Machine Learning" ,"Big Data", "Python" , "Pandas"]})
df["word_count"] = df["text"].apply(len)
df

               text  word_count
0      Data Science          12
1  Machine Learning          16
2          Big Data           8
3            Python           6
4            Pandas           6

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size() returns the total number of elements in the DataFrame, while 
DataFrame.shape() returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns).

Q6. Which function of pandas do we use to read an excel file?

we use read_excel(data.xls) to read excel type data

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [134]:
data={"email":["suvha70@gmail.com","sabyasachimishra2000@gmail.com","priyo@gmail.com"]}
df=pd.DataFrame(data)
df["username"] = df['email'].str.split('@').str[0]
df

                            email              username
0               suvha70@gmail.com               suvha70
1  sabyasachimishra2000@gmail.com  sabyasachimishra2000
2                 priyo@gmail.com                 priyo

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [135]:
data={"a":[3,8,6,2,9],"b":[5,2,9,3,1],"c":[1,7,4,5,2]}
df=pd.DataFrame(data)
df[(df["a"]>5) & (df["b"]<10)]

   a  b  c
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [136]:
data={"values":[10,20,30,40,50]}
df=pd.DataFrame(data)
print(df.mean())
print(df.median())
print(df.std())

values    30.0
dtype: float64
values    30.0
dtype: float64
values    15.811388
dtype: float64

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [137]:
data={'sales': [459, 109, 823, 377, 854, 904, 699, 170, 572, 700, 496, 414, 805,
       586, 651, 187, 274, 700, 949, 777, 637, 945, 172, 877, 215, 855,
       809, 947, 531, 548], 'date': ['2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04',
               '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-08',
               '2023-07-09', '2023-07-10', '2023-07-11', '2023-07-12',
               '2023-07-13', '2023-07-14', '2023-07-15', '2023-07-16',
               '2023-07-17', '2023-07-18', '2023-07-19', '2023-07-20',
               '2023-07-21', '2023-07-22', '2023-07-23', '2023-07-24',
               '2023-07-25', '2023-07-26', '2023-07-27', '2023-07-28',
               '2023-07-29', '2023-07-30']}

In [138]:
df=pd.DataFrame(data)

df["moving average"] = df["sales"].rolling(window=7,min_periods=1).mean()
print(f"last 7 dayas moving average list\n",df[-7::1])

last 7 dayas moving average list
     sales        date  moving average
23    877  2023-07-24      722.428571
24    215  2023-07-25      653.142857
25    855  2023-07-26      639.714286
26    809  2023-07-27      644.285714
27    947  2023-07-28      688.571429
28    531  2023-07-29      629.428571
29    548  2023-07-30      683.142857

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:

Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [139]:
data={"date":pd.date_range(start="2023-08-01",periods=11)}

In [140]:
df=pd.DataFrame(data)
df["weekday"] = df["date"].dt.day_name()
df

         date    weekday
0  2023-08-01    Tuesday
1  2023-08-02  Wednesday
2  2023-08-03   Thursday
3  2023-08-04     Friday
4  2023-08-05   Saturday
5  2023-08-06     Sunday
6  2023-08-07     Monday
7  2023-08-08    Tuesday
8  2023-08-09  Wednesday
9  2023-08-10   Thursday
10 2023-08-11     Friday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [141]:
data={"date":pd.date_range(start="2023/01/01",end="2023/02/25")}
df=pd.DataFrame(data)

In [142]:
df_filter=df[(df["date"]>="2023/01/01") & (df["date"]<="2023/01/31") ]  
print(type(df_filter))
df_filter

<class 'pandas.core.frame.DataFrame'>

         date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

To use the basic functions of pandas the first and foremost necessary library that needs to be import is  pandas library.