In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-win_amd64.whl (10.0 MB)
     -------------------------------------- 10.0/10.0 MB 204.4 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\sabyasachi\anaconda3\envs\python37\lib\site-packages (from pandas) (2.8.2)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.6-cp37-cp37m-win_amd64.whl (14.0 MB)
     -------------------------------------- 14.0/14.0 MB 186.8 kB/s eta 0:00:00
Collecting pytz>=2017.3
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ------------------------------------ 502.3/502.3 kB 109.7 kB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\sabyasachi\anaconda3\envs\python37\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.21.6 pandas-1.3.5 pytz-2023.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
data=[4,8,15,16,23,42]
series=pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
a=[1,2,3,4,5,6,7,8,9,0]
series=pd.Series(a)
print(series)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data:

Name
,Alice
,Bob
,Claire

Age
,25
,30
,27

Gender
,Female
,Male
,Female

In [6]:
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
pd.DataFrame(data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame in pandas is a two-dimensional labeled data structure with columns of potentially different types. It is like a spreadsheet or SQL table, or a dict of Series objects. It is the most commonly used pandas object.

A pandas.Series is a one-dimensional labeled array capable of holding any data type. It is similar to a column in a spreadsheet or a SQL table.

The main difference between DataFrame and Series is that DataFrame is a two-dimensional data structure while Series is a one-dimensional data structure.

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

head() - returns the first n rows of the DataFrame. This can be useful to quickly check the structure of the data.

Example: df.head(10) returns the first 10 rows of the DataFrame.

tail() - returns the last n rows of the DataFrame. This can be useful to quickly check the end of the data.

Example: df.tail(5) returns the last 5 rows of the DataFrame.

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Both Series and DataFrame are mutable in nature

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [10]:
# create three Series objects
names = pd.Series(['sabyasachi', 'suvho', 'priyo'])
ages = pd.Series([23, 22, 20])
genders = pd.Series(['M', 'M', 'M'])

# create a DataFrame using the three Series objects
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Gender': genders
})
df

         Name  Age Gender
0  sabyasachi   23      M
1       suvho   22      M
2       priyo   20      M